/*
Application : PhoneHub
Author      : Rafael Battesti
Since       : 2016-07-28
Version     : 0.1
*/

footer p {
    font-size: small;
    text-align: center;
}

.prod-img, canvas {
    width: 100%;
    height: auto;
}
